{% extends "base.html" %}

{% block title %}
    Contact Page
{% endblock %}

{% block main %}

<center><BR><BR>
<h2 style="color: #e16f29;">Team Members </h2><BR><BR>
<h5><span class="wave " style="color: #ebad39">20891A1209</span>       ASHRITH KUMAR<BR>
    <span class="wave " style="color: #ebad39">20891A1242</span>       JAYA CHANDRA<BR>
    <span class="wave " style="color: #ebad39">20891A1243</span>       RAHUL NAIK<BR>
    <span class="wave " style="color: #ebad39">20891A1251</span>       HANISH KUMAR</h5>
</center><BR><BR><BR><BR><BR><BR>

{% endblock %}



{% block script%}
    <script>
        {% include 'js/dynamicTextField.js' %}
        {% include 'js/toggle.js' %}
    </script>
{% endblock %}